.DS_Store
node_modules
/build
/.svelte-kit
/package
.env
.env.*
!.env.example
src/lib/server/graphql/schemaTypes.d.ts
src/lib/server/graphql/schema.ts
/.changeset

# Ignore files for PNPM, NPM and YARN
pnpm-lock.yaml
package-lock.json
yarn.lock
